<h1 class="text-center mt-4">Status History</h1>

<table style="width:80%" class="table table-light table-hover center">
  <tr>
    <th>Date</th>
    <th>Tasks</th> 
    <th>PR Links</th>
    <th>Hours</th>
    <th colspan="3">Actions</th>
  </tr>
    <% @statuses.each do |status| %>
    <tr>
      <td><%= status.date %></td>
      <td><%= status.tasks %></td>
      <td><%= status.pr_links %></td> 
      <td><%= status.hours %></td>
      <td>
        <%= link_to 'EDIT', edit_status_path(status), class:"btn btn-outline-primary" %> /
        <%= link_to 'DELETE', status_path(status), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
      </td>
    </tr>
    <% end %>
</table>



