<h1 class="text-center mt-4">Preview Email</h1>

<h2 class="text-center mt-4">Subject Line: Status update for <%= @status.date %> </h2>
<h3 class="text-center mt-4">Here is the Status update</h3>

<div class="table-responsive">
  <table style="width:70%" class="table table-light table-hover center">
    <tr class="table-dark text-center">
      <th>Date</th>
      <th>Tasks</th> 
      <th>PR Links</th>
      <th>Hours</th>
      <th colspan="3">Actions</th>
    </tr>
    <tr>
      <td><%= l @status.date %></td>
      <td><%= @status.tasks %></td>
      <td><%= @status.pr_links %></td> 
      <td><%= @status.hours %></td>
      <td>
        <%= link_to 'EDIT', edit_status_path(@status), class:"btn btn-outline-primary" %> /
        <%= link_to 'DELETE', statuses_path(@status), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
      </td>
    </tr>
  </table>

  <div class="d-flex justify-content-center">
    <%= link_to 'Home page', root_path, class: "btn btn-outline-dark mb-2" %>
    <%= link_to 'Status History', statuses_path, class: "btn btn-outline-dark ms-2 mb-2" %>
  </div>
</div>



